<div class="limiter">
  <div class="container-login">
    <mat-card>
      <div class="loading-shade" *ngIf="isSpinnerLoading">
        <mat-spinner></mat-spinner>
      </div>

      <mat-card-title> Reset Password </mat-card-title>

      <mat-card-content>
        <form
          class="form-container"
          [formGroup]="formGrp"
          novalidate
          (ngSubmit)="onFormSubmit()"
        >
          <mat-form-field color="primary">
            <input
              matInput
              placeholder="New Password"
              formControlName="password"
              type="password"
            />
            <mat-error
              *ngIf="
                formGrp.controls['password']['invalid'] &&
                formGrp.controls['password']['touched']
              "
            >
              Password is Required</mat-error
            >
          </mat-form-field>

          <mat-form-field color="primary">
            <input
              matInput
              placeholder="Confirm Password"
              formControlName="confirmpassword"
              type="password"
            />
            <mat-error
              *ngIf="
                formGrp.controls['confirmpassword']['invalid'] &&
                formGrp.controls['confirmpassword']['touched']
              "
            >
              Confirm Password is Required</mat-error
            >
          </mat-form-field>

          <div>
            <button
              mat-raised-button
              class="btn btn-block"
              type="submit"
              [disabled]="formGrp.invalid"
              color="primary"
            >
              Submit
            </button>
            <button mat-raised-button type="reset" class="right">Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
