table {
  // overflow: auto;
  width: 100%;
}

.menu-bar {
  position: absolute;
  right: 60px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .paginator-center {
  display: flex;
  justify-content: center;
}

.search-field {
  font-size: 10px;
}
